<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h1 class="big big-2">Contact Us</h1>
               
                <p>Below are the details to reach out to me!</p>
            </div>
        </div>

        <div class="row d-flex contact-info mb-5">
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box p-4 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-map-signs"></span>
                    </div>
                    <h3 class="mb-4">Address</h3>
                    <p>Mumbai, India</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box p-4 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-phone2"></span>
                    </div>
                    <h3 class="mb-4">Contact Number</h3>
                    <p><a href="tel://9137585813">9137585813</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box p-4 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-paper-plane"></span>
                    </div>
                    <h3 class="mb-4">Email Address</h3>
                    <p><a href="mailto:rushijadhav1912@gmail.com">rushijadhav1912@gmail.com</a></p>

                </div>
            </div>

            <div class="container">
                <br>
                <br>
                <div class="row justify-content-center">
                    <div class="col-md-7 ftco-animate text-center">
                        <h2>Have a<span> Question?  </span> <a href="https://forms.gle/UUpdU3xxsLA5brrQA" class="btn btn-primary py-3 px-5">Click Here</a> </h2>
                    </div>
                </div>
                <br>
                <ul class="ftco-footer-social list-unstyled d-flex justify-content-center align-items-center mb-0">
                    <li class="ftco-animate normal-txt">Find me on</li>
                    <!-- Add space between "Find me on" and social media icons -->
                    <li class="ftco-animate" style="margin-right: 10px;"></li>

                    <li class="ftco-animate"><a href="https://www.linkedin.com/in/rushikesh-jadhav-533882215/"><span class="icon-linkedin"></span>LinkedIn</a></li>
                    <!-- Add space between LinkedIn and Twitter -->
                    <li class="ftco-animate" style="margin-right: 10px;"></li>

                    <li class="ftco-animate"><a href="https://twitter.com/RushikeshJ94898"><span class="icon-twitter"></span>Twitter</a></li>
                    <!-- Add space between Twitter and Instagram -->
                    <li class="ftco-animate" style="margin-right: 10px;"></li>

                    <li class="ftco-animate"><a href="https://www.instagram.com/rushii_1912_/"><span class="icon-instagram"></span>Instagram</a></li>
                </ul>

                <br>
            </div>
        </div>
</section>
