@{
    ViewData["Title"] = "PRIVACY POLICY";
}
<h1>@ViewData["Title"]</h1>
<style>
    h1 {
        text-align: center;
    }
</style>


@* <p>Use this page to detail your site's privacy policy.</p>
 *@

 If you collect information at your business, a privacy policy can demonstrate to those interacting with your brand that you take data protection seriously. As such, they may find your organization more trustworthy, which can help sway consumers in your favor. Keep the points above in mind as you create a privacy policy for your website.

In addition to privacy terms, there are many ways to keep consumer information safe. Mailchimp utilizes 24/7 physical security with biometric scanners, the latest tech to secure its data, and DDOS mitigation at all data centers. It also has an infrastructure continuity plan in case of a nuclear attack. All data is also kept separate to prevent corruption.

While we can't provide legal advice or a sample privacy policy, we make it easy for you to display your privacy terms on your Mailchimp website.